@model Ferreteria_Frontend.Models.MarcaViewModel

<form asp-action="Edit">
<div class="row">
    <div class="col-sm-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Marc_Id" />

        <div class="row"> 
            <div class="form-group col-md-6">
                <label asp-for="Marc_Descripcion" class="control-label"></label>
                <input asp-for="Marc_Descripcion" class="form-control" />
            </div>
        </div>  <!-- Cierra la fila después de dos campos -->
        <div class="form-group d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                <button type="button" id="btnCerrarEditar" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</button>
        </div>
    </div>
</div>
</form>