@model Ferreteria_Frontend.Models.MunicipioViewModel

<div class="col-sm-12">
<div class="card mb-0" style="border-radius: 20px; overflow: hidden;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Muni_Codigo" class="control-label"></label>
                                        <input asp-for="Muni_Codigo" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Muni_Descripcion" class="control-label"></label>
                                        <input asp-for="Muni_Descripcion" class="form-control" />
                                        <br />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Depa_Codigo" class="control-label"></label>
                                        <select asp-for="Depa_Codigo" class="form-select" asp-items="ViewBag.Depa_Codigo">
                                            <option value="">Seleccione Un Departamento</option>
                                        </select>
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    
                        <div class="form-group d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                            <button type="button" id="btnCerrarEditar" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>
   </div>
   </div>