@model Ferreteria_Frontend.Models.SucursalViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Create">
    <!-- Card Structure -->
<div class="row">
    <div class="col-sm-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row"> 
            <div class="form-group col-md-6">
                <label asp-for="Sucu_Nombre" class="control-label"></label>
                <input asp-for="Sucu_Nombre" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Depa_Codigo" class="control-label"></label>
                <input asp-for="Depa_Codigo" class="form-control" />
            </div>
        </div>  <!-- Cierra la fila después de dos campos -->
        <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Muni_Codigo" class="control-label"></label>
                    <select asp-for="Muni_Codigo" class="form-control" asp-items="ViewBag.Muni_Codigo">
                        <option value="">Seleccione Un Municipio</option>
                    </select>
                    <span asp-validation-for="Muni_Codigo" class="text-danger"></span>
                </div>
            <div class="form-group col-md-6">
                <label asp-for="Sucu_DireccionExacta" class="control-label"></label>
                <input asp-for="Sucu_DireccionExacta" class="form-control" />
            </div>
        </div>  <!-- Cierra la fila después de dos campos -->
            <div class="form-group d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                <button type="button" id="btnCerrarCrear" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</button>
            </div>
    </div>
</div>
</form>