@model Ferreteria_Frontend.Models.ProductoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Context.Session.SetString("titulo", "Productos");
}


<link rel="stylesheet" type="text/css" href="~/css/vendors/dropzone.css">


<form asp-action="Create">
    <!-- Card Structure -->
    <div class="row">
        <div class="col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Prod_Descripcion" class="control-label"></label>
                    <input asp-for="Prod_Descripcion" class="form-control" required/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Marc_Id" class="control-label"></label>
                    <select asp-for="Marc_Id" class="form-select" asp-items="ViewBag.Marc_Id" required>
                        <option value="">Seleccione Una Marca</option>
                    </select>
                    <br />
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Cate_Id" class="control-label"></label>
                    <select asp-for="Cate_Id" class="form-select" asp-items="ViewBag.Cate_Id" required>
                        <option value="">Seleccione Una Categoría</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Prov_Id" class="control-label"></label>
                    <select asp-for="Prov_Id" class="form-select" asp-items="ViewBag.Prov_Id" required>
                        <option value="">Seleccione Un Proveedor</option>
                    </select>
                    <br />
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Prod_Modelo" class="control-label"></label>
                    <input asp-for="Prod_Modelo" class="form-control" required />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Prod_Cantidad" class="control-label"></label>
                    <input type="number" asp-for="Prod_Cantidad" class="form-control" required />
                    <br />
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Prod_URLImg" class="control-label"></label>
                    <input asp-for="Prod_URLImg" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Medi_Id" class="control-label"></label>
                    <select asp-for="Medi_Id" class="form-select" asp-items="ViewBag.Medi_Id" required>
                        <option value="">Seleccione Una Medida</option>
                    </select>
                    <br />
                </div>
            </div>
            <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label>Upload project file</label>
                        <form class="dropzone" id="singleFileUpload" action="/upload.php">
                            <div class="dz-message needsclick">
                                <i class="icon-cloud-up"></i>
                                <h6 class="f-w-600">Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</a>
            </div>
        </div>
    </div>
</form>

<script src="~/js/dropzone/dropzone.js"></script>
<script src="~/js/dropzone/dropzone-script.js"></script>