@model Ferreteria_Frontend.Models.ProductoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Context.Session.SetString("titulo", "Productos");
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Prod_Id">

            <div class="row"> 
                <div class="form-group col-md-6">
                    <label asp-for="Prod_Descripcion" class="control-label"></label>
                    <input asp-for="Prod_Descripcion" class="form-control" required/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Marc_Id" class="control-label"></label>
                    <select asp-for="Marc_Id" class="form-select" asp-items="ViewBag.Marc_Id" required>
                        <option value="">Seleccione Una Marca</option>
                    </select>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row"> 
                <div class="form-group col-md-6">
                    <label asp-for="Cate_Id" class="control-label"></label>
                    <select asp-for="Cate_Id" class="form-select" asp-items="ViewBag.Cate_Id" required>
                        <option value="">Seleccione Una Categoría</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Prov_Id" class="control-label"></label>
                    <select asp-for="Prov_Id" class="form-select" asp-items="ViewBag.Prov_Id" required>
                        <option value="">Seleccione Un Proveedor</option>
                    </select>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row"> 
                <div class="form-group col-md-6">
                    <label asp-for="Prod_Modelo" class="control-label"></label>
                    <input asp-for="Prod_Modelo" class="form-control" required />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Prod_Cantidad" class="control-label"></label>
                    <input type="number" asp-for="Prod_Cantidad" class="form-control" required />
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row"> 
                <div class="form-group col-md-6">
                    <label asp-for="Prod_URLImg" class="control-label"></label>
                    <input asp-for="Prod_URLImg" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Medi_Id" class="control-label"></label>
                    <select asp-for="Medi_Id" class="form-select" asp-items="ViewBag.Medi_Id" required>
                        <option value="">Seleccione Una Medida</option>
                    </select>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            
            <div class="form-group d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</a>
            </div>
    </div>
</div>
</form>