@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Ferreteria_Frontend.Models.RolViewModel


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="list-product-header ">
                <a type="button" class="btn btn-rounded btn-primary btn-md" asp-area="" asp-controller="Roles" asp-action="Create" id="ModalNuevo"><i class="fa fa-arrow"></i>Regresar</a>
            </div>
        </div>
        <div card="card-body d-flex">
            <form id="crearRolForm" asp-action="Create" method="post" class="p-3">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Role_Descripcion" class="control-label">
                            Rol</label>
                            <input asp-for="Role_Descripcion" placeholder="Ingresa un rol" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-borderless my-5">
                                <thead>
                                <th>
                                    Acceso
                                </th>
                                <th>
                                    General
                                </th>
                                <th>
                                    Ferreteria
                                </th>
                                <th>
                                    Productos
                                </th>
                                <th>
                                    Compras
                                </th>
                                <th>
                                    Ventas
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Usuarios" class="me-2">Usuarios</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Usuarios" name="pantalla" value="1">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Departamentos" class="me-2">Departamentos</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Departamentos" name="pantalla" value="3">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Sucursales" class="me-2">Sucursales</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Sucursales" name="pantalla" value="9">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Productos" class="me-2">Productos</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Productos" name="pantalla" value="10">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Compras" class="me-2">Compras</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="pantalla2" name="Compras" value="14" >
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Ventas" class="me-2">Ventas</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Ventas" name="pantalla" value="16">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Roles" class="me-2">Roles</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Roles" name="pantalla" value="2" >
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Municipios" class="me-2">Municipios</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Municipios" name="pantalla" value="4">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Empleados" class="me-2">Empleados</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Empleados" name="pantalla" value="7" >
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Categorias" class="me-2">Categorias</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Categorias" name="pantalla" value="11">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Proveedores" class="me-2">Proveedores</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Proveedores" name="pantalla" value="15">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="EstadosCiviles" class="me-2">Estados Civiles</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="EstadosCiviles" name="pantalla" value="5" >
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Cargos" class="me-2">Cargos</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Cargos" name="pantalla" value="8">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Marcas" class="me-2">Marcas</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Marcas" name="pantalla" value="12">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Clientes" class="me-2">Clientes</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Clientes" name="pantalla" value="6">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                        <td>
                                            <div class="d-flex align-items-between ">
                                                <label for="Medidas" class="me-2">Medidas</label>
                                                <div class="form-check form-switch m-0">
                                                    <input class="form-check-input" type="checkbox" id="Medidas" name="pantalla" value="13">
                                                </div>
                                            </div>
                                        </td>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <!--El gpt dis que si funciona pa guardar los id de las pantallas en el servidor, como ni idea-->
                <input type="text" id="pantallasSeleccionadasInput" asp-for="PantIds" name="pantallasSeleccionadas" />

                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                    <button type="button" id="btnCerrarCrear" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</button>
                </div>
            </form>        
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#crearRolForm').submit(function() {
            var selectedpantallas = [];
            $('input[type="checkbox"]:checked').each(function(){
                selectedpantallas.push($(this).val());
            });

            console.log(selectedpantallas);
            
            $('#pantallasSeleccionadasInput').val(JSON.stringify(selectedpantallas));



        });

        
    });

</script>