@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<RolViewModel>


<style>
	.card-role {
		width: 250px;
		height: 200px;
		border-radius: 15px;
		background: rgb(0 102 102);
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		margin-right:15px;
		margin-bottom:15px;
	}

	.card-role::before {
		content: "";
		height: 100px;
		width: 100px;
		position: absolute;
		top: -10%;
		left: 0%;
		border-radius: 50%;
		border: 35px solid rgba(255, 255, 255, 0.102);
		transition: all .8s ease;
		filter: blur(.5rem);
	}

	.text {
		flex-grow: 1;
		padding: 15px;
		display: flex;
		flex-direction: column;
		color: aliceblue;
		font-weight: 900;
		font-size: 1.4em;
	}

	.subtitle {
		font-size: .6em;
		font-weight: 300;
		color: rgba(240, 248, 255, 0.691);
	}

	.icons {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 250px;
		border-radius: 0px 0px 15px 15px;
		overflow: hidden;
	}

	.btn-card {
		border: none;
		width: 84px;
		height: 35px;
		background-color: rgb(231 231 231);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.svg-icon {
		width: 20px;
		height: 20px;
		stroke: #003d3d;
	}

	.btn-card:hover {
		background-color: rgb(215 231 227);
	}

	.card-role:hover::before {
		width: 160px;
		height: 160px;
		top: -10%;
		left: 50%;
		filter: blur(0rem);
	}
</style>
<!-- From Uiverse.io by Javierrocadev -->


<div class="col-sm-12">
	<div class="card">
		<div class="card-header">
			<div class="list-product-header d-flex justify-content-start ">
				<a type="button" class="btn btn-rounded btn-outline-primary btn-md" asp-area="" asp-controller="Roles" asp-action="Create" id="ModalNuevo"><i class="fa fa-plus"></i> Agregar rol</a>
			</div>
		</div>
		<div class="card-body d-flex">

            @foreach(var item in Model)
            {
			<div class="card-role">
				<div class="text">
					<p class="subtitle">Nombre del rol</p>
					<span>@Html.DisplayFor(modelItem => item.Role_Descripcion)</span>
				</div>
				<div class="icons">
						<a class="btn-card" asp-area="" asp-controller="Roles" asp-action="Edit">
						<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M12 20h9" />
							<path d="M16.5 3.5a2.1 2.1 0 1 1 3 3L6 20H3v-3L16.5 3.5z" />
						</svg>
					</a>
					<a class="btn-card" href="#">
						<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
						  <circle cx="12" cy="12" r="3"/>
						</svg>

					</a>
					<a class="btn-card" onclick="eliminar(@item.Role_Id)">
						<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M3 6h18" />
							<path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
							<path d="M10 11v6" />
							<path d="M14 11v6" />
							<path d="M5 6l1 14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-14" />
						</svg>
					</a>
				</div>
			</div>
			}
			<div class="card-role">
				<div class="text">
					<p class="subtitle">Nombre del rol</p>
					<span>Gerente</span>
				</div>
				<div class="icons">
					<a class="btn-card" href="#">
						<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M12 20h9" />
							<path d="M16.5 3.5a2.1 2.1 0 1 1 3 3L6 20H3v-3L16.5 3.5z" />
						</svg>
					</a>
					<a class="btn-card" href="#">
						<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
							<circle cx="12" cy="12" r="3" />
						</svg>

					</a>
					<a class="btn-card" href="#">
						<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M3 6h18" />
							<path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
							<path d="M10 11v6" />
							<path d="M14 11v6" />
							<path d="M5 6l1 14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-14" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/sweet-alert/sweetalert.min.js"></script>
<script src="~/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/js/datatable/datatables/jquery.dataTables.min.js"></script>

<script>
	function eliminar(id){
		localStorage.setItem("Role_Id", id);
		swal({
			icon:"error",
			title:'Eliminar',
			text: "¿Deseas eliminar este registro?",
			type:'warning',
			buttons:{
				confirm:{
					text:'Si, eliminar',
					className: 'btn btn-danger'
				},
				cancel:{
					visible: true,
					className: 'btn btn-danger btn-outline text-danger bg-white'
				}
			}
		}).then((Delete) => {
			if(Delete){
				var id = localStorage.getItem("Role_Id");
				var url = "/Roles/Delete/"+id;
				location.href = url;
			}
			else{
				swal.close();
			}
		})
	}
</script>