@model Ferreteria_Frontend.Models.ProveedoresViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Context.Session.SetString("titulo", "Proveedores");
}

<form asp-action="Create">
    <!-- Card Structure -->
<div class="row">
    <div class="col-sm-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Prov_Nombre" class="control-label"></label>
                    <input asp-for="Prov_Nombre" class="form-control" required />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Prov_Contacto" class="control-label"></label>
                    <input asp-for="Prov_Contacto" class="form-control" required />
            </div>
        </div>  <!-- Cierra la fila después de dos campos -->
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Depa_Codigo" class="control-label"></label>
                    <select asp-for="Depa_Codigo" class="form-select" asp-items="ViewBag.Depa_Codigo" required>
                    <option value="">Seleccione Un Departamento</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Muni_Codigo" class="control-label"></label>
                    <select asp-for="Muni_Codigo" class="form-select" asp-items="ViewBag.Muni_Codigo" required>
                    <option value="">Seleccione Un Municipio</option>
                </select>
            </div>
        </div>  <!-- Cierra la fila después de dos campos -->
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Prov_DireccionExacta" class="control-label"></label>
                    <input asp-for="Prov_DireccionExacta" class="form-control" required />
            </div>
        </div>
            <div class="form-group d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</a>
            </div>
    </div>
</div>
</form>