
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Pannel is a super flexible, powerful, clean & modern responsive Bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="Admin Pannel template, Admin Pannel template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="Netsol IT Solutions">
    <link rel="icon" href="assets/images/favicon.png" type="image/png"> <!-- Single favicon link -->
    <title>Admin Pannel Template</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/vendors/icofont.css"> <!-- IcoFont -->
    <link rel="stylesheet" href="~/css/vendors/themify.css"> <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/vendors/flag-icon.css"> <!-- Flag Icons -->
    <link rel="stylesheet" href="~/css/vendors/feather-icon.css"> <!-- Feather Icons -->
    <link rel="stylesheet" href="~/css/vendors/slick.css"> <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/css/vendors/slick-theme.css"> <!-- Slick Carousel Theme -->
    <link rel="stylesheet" href="~/css/vendors/scrollbar.css"> <!-- Scrollbar -->
    <link rel="stylesheet" href="~/css/vendors/animate.css"> <!-- Animations -->
    <link rel="stylesheet" href="~/css/vendors/echart.css"> <!-- ECharts -->
    <link rel="stylesheet" href="~/css/vendors/date-picker.css"> <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/js-datatables/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/datatable-extension.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/datatables.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/vendors/bootstrap.css"> <!-- Bootstrap -->
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/style.css"> <!-- Main Styles -->
    <link id="color" rel="stylesheet" href="~/css/color-1.css" media="screen"> <!-- Theme Color -->
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css"> <!-- Responsive Styles -->
</head>
<body>
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <form class="form-inline search-full col" action="#" method="get">
                    <div class="form-group w-100">
                        <div class="Typeahead Typeahead--twitterUsers">
                            <div class="u-posRelative">
                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Riho .." name="q" title="" autofocus="">
                                <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading... </span></div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close-search"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                            </div>
                            <div class="Typeahead-menu"> </div>
                        </div>
                    </div>
                </form>
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper"> <a href="index.html"><img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="logo-light"><img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="logo-dark"></a></div>
                    <div class="toggle-sidebar"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-center status_toggle middle sidebar-toggle"><line x1="18" y1="10" x2="6" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="18" y1="18" x2="6" y2="18"></line></svg></div>
                </div>
                <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
                    <div>
                        <a class="toggle-sidebar" href="#"> <i class="iconly-Category icli"> </i></a>
                        <div class="d-flex align-items-center gap-2 ">
                            <h4 class="f-w-600">Welcome Alex</h4><img class="mt-0" src="~/images/hand.gif" alt="hand-gif">
                        </div>
                    </div>
                    <div class="welcome-content d-xl-block d-none"><span class="text-truncate col-12">Here’s what’s happening with your store today. </span></div>
                </div>
                <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
                    <ul class="nav-menus">
                        <li class="profile-nav onhover-dropdown">
                            <div class="media profile-media">
                                <img class="b-r-10" src="~/images/dashboard/profile.png" alt="">
                                <div class="media-body d-xxl-block d-none box-col-none">
                                    <div class="d-flex align-items-center gap-2"> <span>Alex Mora </span><i class="middle fa fa-angle-down"> </i></div>
                                    <p class="mb-0 font-roboto">Admin</p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li><a href="user-profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><span>My Profile</span></a></li>
                                <li><a href="letter-box.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><span>Inbox</span></a></li>
                                <li> <a href="edit-profile.html"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg><span>Settings</span></a></li>
                                <li><a class="btn btn-pill btn-outline-primary btn-sm" href="login.html">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script class="result-template" type="text/x-handlebars-template">
                    <div class="ProfileCard u-cf">
                    <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                    <div class="ProfileCard-details">
                    <div class="ProfileCard-realName">{{name}}</div>
                    </div>
                    </div>
                </script>
                <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
            </div>
        </div>
        <!-- Page Header Ends                              -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper" data-layout="stroke-svg">
                <div class="logo-wrapper">
                    <a href="index.html"><img class="img-fluid" src="~/images/logo/logo.png" alt=""></a>
                    <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
                    <div class="toggle-sidebar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid status_toggle middle sidebar-toggle"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg></div>
                </div>
                <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="~/images/logo/logo-icon.png" alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow disabled" id="left-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar" data-simplebar="init" style="display: block;">
                            <div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
                            <li class="back-btn">
                                <a href="index.html" class="active"><img class="img-fluid" src="~/images/logo/logo-icon.png" alt=""></a>
                                <div class="mobile-back text-end"> <span>Back </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>
                            <li class="pin-title sidebar-main-title">
                                <div>
                                    <h6>Pinned</h6>
                                </div>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Acceso</h6>
                                </div>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Usuarios</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Roles</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6 class="lan-1">General</h6>
                                </div>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" asp-area="" asp-controller="Departamentos" asp-action="Index">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Departamentos</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Municipios</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Estados Civiles</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Clientes</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            
                            
                           
                            <li class="sidebar-main-title">
                                <div>
                                    <h6 >Ferreteria</h6>
                                </div>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Empleados</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Cargos</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Sucursales</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Productos</h6>
                                </div>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Productos</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Categorias</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Marcas</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Medidas</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Compras</h6>
                                </div>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Compras</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Proveedores</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Ventas</h6>
                                </div>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg class="stroke-icon">
                                        <use href="~/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/svg/icon-sprite.svg#messages-2"></use>
                                    </svg><span>Ventas</span><div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </li>
                            
                    </div>
            </div>
        </div>
    </div>
    <div class="simplebar-placeholder" style="width: auto; height: 2173px;"></div></div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div></div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 68px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></ul>
    <div class="right-arrow" id="right-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
    </div>
    </nav>
    </div>
    <!-- Page Sidebar Ends-->
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="card boost-up-card overflow-hidden">
                    <div class="p-4">
                        <div class="boostup-name row">
                            <div class="col-6">
                                <h4 class="text-white f-28 f-w-700 mb-2 z-1 ">@ViewBag.PageTitle</h4>
                                <p class="text-white f-14 f-w-500 col-9 line-clamp">
                                    by upgrading your account you can increase your sale by 30% more.
                                </p>
                            </div>
                            <div class="col-6">
                                <ol class="breadcrumb text-white">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <svg class="stroke-icon">
                                                <use href="~/svg/icon-sprite.svg#stroke-home"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">Dashboard</li>
                                    <li class="breadcrumb-item active text-info">Default</li>
                                </ol>
                            </div>
                            
                            
                        </div>
                        <div class="img-boostup"><img class="img-boostup-img-1" src="~/images/dashboard-3/boostup1.png" alt="boostup"><img class="img-boostup-img-2" src="~/images/dashboard-3/boostup2.png" alt="boostup"></div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row size-column">
                @RenderBody()
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
    <!-- footer start-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2024 © Riho theme  </p>
                </div>
            </div>
        </div>
    </footer>
    </div>
    </div>
    <!-- latest jquery-->
    <script src="~/js/jquery.min.js"></script>

    <!--Datatable extension js-->
    <script src="~/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/js-datatables/simple-datatables@latest.js"></script>
    <script src="~/js/datatable/datatable/datatables/datatable.custom.js"></script>
    <script src="~/js/datatable/datatable-extension/dataTables.buttons.min.js"></script>
    <script src="~/js/datatable/datatable-extension/jszip.min.js"></script>
    <script src="~/js/datatable/datatable-extension/pdfmake.min.js"></script>
    <script src="~/js/datatable/datatable-extension/vfs_fonts.js"></script>
    <script src="~/js/datatable/datatable-extension/dataTables.autoFill.min.js"></script>
    <script src="~/js/datatable/datatable-extension/dataTables.select.min.js"></script>
    <script src="~/js/datatable/datatable-extension/buttons.print.min.js"></script>
    <script src="~/js/datatable/datatable-extension/buttons.html5.min.js"></script>
    <script src="~/js/datatable/datatable-extension/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable/datatable-extension/dataTables.responsive.min.js"></script>
    <script src="~/js/datatable/datatable-extension/responsive.bootstrap4.min.js"></script>
    <script src="~/js/datatable/datatable-extension/dataTables.keyTable.min.js"></script>
    <script src="~/js/datatable/datatable-extension/custom.js"></script>
    

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/js/scrollbar/simplebar.js"></script>
    <script src="~/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/js/sidebar-menu.js"></script>
    <script src="~/js/sidebar-pin.js"></script>
    <script src="~/js/slick/slick.min.js"></script>
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/header-slick.js"></script>
    <script src="~/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/js/chart/echart/esl.js"></script>
    <script src="~/js/chart/echart/config.js"></script>
    <script src="~/js/chart/echart/pie-chart/facePrint.js"></script>
    <script src="~/js/chart/echart/pie-chart/testHelper.js"></script>
    <script src="~/js/chart/echart/pie-chart/custom-transition-texture.js"></script>
    <script src="~/js/chart/echart/data/symbols.js"></script>
    <!-- calendar js-->
    <script src="~/js/datepicker/date-picker/datepicker.js"></script>
    <script src="~/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="~/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script src="~/js/dashboard/dashboard_3.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/js/script.js"></script>
</body>
</html>