@model Ferreteria_Frontend.Models.DepartamentoViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row"> 
                        <div class="form-group col-md-6">
                            <label asp-for="Depa_Codigo" class="control-label"></label>
                            <input asp-for="Depa_Codigo" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Depa_Descripcion" class="control-label"></label>
                            <input asp-for="Depa_Descripcion" class="form-control" />
                        </div>
                        </div>  <!-- Cierra la fila después de dos campos -->
                        <div class="row"> 
                        <div class="form-group col-md-6">
                            <label asp-for="Usua_Creacion" class="control-label"></label>
                            <input asp-for="Usua_Creacion" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Feca_Creacion" class="control-label"></label>
                            <input asp-for="Feca_Creacion" class="form-control" />
                        </div>
                        </div>  <!-- Cierra la fila después de dos campos -->
                        <div class="row"> 
                        <div class="form-group col-md-6">
                            <label asp-for="Usua_Modificacion" class="control-label"></label>
                            <input asp-for="Usua_Modificacion" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Feca_Modificacion" class="control-label"></label>
                            <input asp-for="Feca_Modificacion" class="form-control" />
                        </div>
                        </div>  <!-- Cierra la fila después de dos campos -->
            <div class="form-group d-flex justify-content-center mt-3">
                <button type="submit" class="primary-button mx-2">
                    <span>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path fill="currentColor" d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Guardar
                    </span>
                </button>
                <button class="secondary-button mx-2" asp-action="Index">
                    <span>
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor" d="M15 18l-6-6 6-6"></path>
                        </svg>
                        Regresar
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>