@model Ferreteria_Frontend.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12">
<div class="card mb-0" style="border-radius: 20px; overflow: hidden;">
        <div class="card-header">
            <h5 class="card-title" style="font-size: 21px; color: white; font-weight:600">Editar Edit</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        { 
                        }
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Usua_Id" class="control-label"></label>
                                        <input asp-for="Usua_Id" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Usua_Nombre" class="control-label"></label>
                                        <input asp-for="Usua_Nombre" class="form-control" />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Usua_Clave" class="control-label"></label>
                                        <input asp-for="Usua_Clave" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Empl_Id" class="control-label"></label>
                                        <input asp-for="Empl_Id" class="form-control" />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Empl_NombreCompleto" class="control-label"></label>
                                        <input asp-for="Empl_NombreCompleto" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Role_Id" class="control-label"></label>
                                        <input asp-for="Role_Id" class="form-control" />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Role_Descripcion" class="control-label"></label>
                                        <input asp-for="Role_Descripcion" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="Usua_EsAdmin" /> @Html.DisplayNameFor(model => model.Usua_EsAdmin)
                                        </label>
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Usua_Creacion" class="control-label"></label>
                                        <input asp-for="Usua_Creacion" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Feca_Creacion" class="control-label"></label>
                                        <input asp-for="Feca_Creacion" class="form-control" />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Usua_Modificacion" class="control-label"></label>
                                        <input asp-for="Usua_Modificacion" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Feca_Modificacion" class="control-label"></label>
                                        <input asp-for="Feca_Modificacion" class="form-control" />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    <div class="row"> 
                                    <div class="form-group col-md-6">
                                        <label asp-for="Usua_Estado" class="control-label"></label>
                                        <input asp-for="Usua_Estado" class="form-control" />
                                    </div>
                        <div class="form-group d-flex justify-content-end mt-3">
                            <input type="submit" value="Insertar" class="btn btn-primary mx-2" />
                            <input type="button" value="Regresar" id="btnCerrarCrear" class="btn btn-rounded btn-outline-primary btn-md mx-2" data-dismiss="modal" />
                        </div>
                    </form>
                </div>
            </div>
       </div>
   </div>
   </div>
{
