@model Ferreteria_Frontend.Models.MedidasViewModel


    <!-- Card Structure -->
    <div class="col-sm-12">
    <div class="card mb-0" style="border-radius: 10px; overflow: hidden;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row"> 
                                    <div class="form-group col-md-12">
                                        <label asp-for="Medi_Descripcion" class="control-label"></label>
                                <input asp-for="Medi_Descripcion" class="form-control" required />
                                    </div>
                                    </div>  <!-- Cierra la fila después de dos campos -->
                                    
                        <div class="form-group d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                            <button type="button" id="btnCerrarCrear" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>
   </div>
   </div>