@model Ferreteria_Frontend.Models.ClienteViewModel

<form asp-action="Edit">
    
    <div class="row">
        <div class="col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Clie_DNI" class="control-label"></label>
                    <input asp-for="Clie_DNI" class="form-control" id="validationCustom01" required />
                    <div class="invalid-feedback">Por favor rellena el campo </div>
                    <div class="valid-feedback">Excelente </div>
                    <span asp-validation-for="Clie_DNI" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Clie_Nombre" class="control-label"></label>
                    <input asp-for="Clie_Nombre" class="form-control" id="validationCustom01" required />
                    <div class="invalid-feedback">Por favor rellena el campo </div>
                    <div class="valid-feedback">Excelente </div>
                    <span asp-validation-for="Clie_Nombre" class="text-danger"></span>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Clie_Apellido" class="control-label"></label>
                    <input asp-for="Clie_Apellido" class="form-control" id="validationCustom01" required />
                    <div class="invalid-feedback">Por favor rellena el campo </div>
                    <div class="valid-feedback">Excelente </div>
                    <span asp-validation-for="Clie_Apellido" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Clie_Sexo" class="form-label"></label>
                    <div class="d-flex">
                        <div class="form-check me-3">
                            <input type="radio" asp-for="Clie_Sexo" value="M" class="form-check-input" id="sexoM">
                            <label class="form-check-label" for="sexoM">Masculino</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" asp-for="Clie_Sexo" value="F" class="form-check-input" id="sexoF">
                            <label class="form-check-label" for="sexoF">Femenino</label>
                        </div>
                    </div>
                    <span asp-validation-for="Clie_Sexo" class="text-danger"></span>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="EsCv_Id" class="control-label"></label>
                    <select asp-for="EsCv_Id" class="form-select" id="validationCustom04" asp-items="ViewBag.EsCv_Id">
                        <option value="">Seleccione Un Estado Civil</option>
                    </select>
                    <div class="invalid-feedback">Por favor escoge un estado civil </div>
                    <div class="valid-feedback">Excelente </div>
                    <span asp-validation-for="EsCv_Id" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Depa_Codigo" class="control-label"></label>
                    <select asp-for="Depa_Codigo" class="form-control" asp-items="ViewBag.Depa_Codigo">
                        <option value="">Seleccione Un Departamento</option>
                    </select>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Muni_Codigo" class="control-label"></label>
                    <select asp-for="Muni_Codigo" class="form-control" asp-items="ViewBag.Muni_Codigo">
                        <option value="">Seleccione Un Municipio</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Clie_Direccion" class="control-label"></label>
                    <input asp-for="Clie_Direccion" class="form-control" id="validationCustom01" required />
                    <div class="invalid-feedback">Por favor rellena el campo </div>
                    <div class="valid-feedback">Excelente </div>
                    <span asp-validation-for="Clie_Direccion" class="text-danger"></span>
                </div>
            </div>  <!-- Cierra la fila después de dos campos -->

            <div class="form-group d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mx-2"><i class="icofont icofont-save"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-rounded btn-outline-primary btn-md mx-2"><i class="icofont icofont-close-circled"></i> Cancelar</a>
            </div>
        </div>
    </div>
</form>