@{
    ViewData["Title"] = "Login";
    Layout = null;
}

@* <h2>Iniciar sesión</h2>

<form method="post" asp-controller="Login" asp-action="Login">
    <div>
        <label for="UserName">Usuario:</label>
        <input type="text" id="Usuario" name="userName" required />
    </div>
    <div>
        <label for="Password">Contraseña:</label>
        <input type="password" id="Contrasena" name="password" required />
    </div>
    <button type="submit">Iniciar sesión</button>
</form>

@if (ViewData["ErrorMessage"] != null)
{
    <div style="color: red;">
        @ViewData["ErrorMessage"]
    </div>
} *@


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Riho admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Riho admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <title>Riho - Premium Admin Template</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link id="color" rel="stylesheet" href="~/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>




<!-- login page start-->
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div><a class="logo" ><img class="img-fluid for-dark" src="~/images/Logo__2_-removebg-preview.png" alt="looginpage"><img class="img-fluid for-light" src="~/images/Logo__2_-removebg-preview.png" style="width: 160px; height:auto;" alt="looginpage"></a></div>
                    <div class="login-main">
                        <form class="theme-form" method="post" asp-controller="Login" asp-action="Login">
                            <h4>Inicia Sesión</h4>
                            <div class="form-group">
                                <label class="col-form-label">Usuario</label>
                                <input class="form-control" type="text" required="" placeholder="Usuario123" name="username">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Contraseña </label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="password" required="" placeholder="*********">
                                    
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Inicia sesión</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="~/js/config.js"></script>
    <!-- Plugins JS start-->
    <!-- calendar js-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/js/script.js"></script>
</div>